header {
    position: relative;
    font-size: 14px;
}
.left {
    position: absolute;
}

.left p {
    display: inline-block;
    padding-left: 15px;
}

.right {
    display: flex;
    float: right;
}

.right p {
    padding-right: 15px;

}