.header {
    position: relative;
    font-size: 13px;
    border-color: black;
    border-style: solid;
    overflow: hidden;
}

.left {
    float:left;
    display: flex;
    margin: 7px 0 0 10px;
}

.left p {
    padding-left: 15px;
}

.right {
    float: right;
    display: flex;
    margin: 7px 0 0 10px;
}

.right p {
    padding-right: 15px;
}